{%extends '../users/users_base.html' %}

{%block content%}

<div class="row align-items-center" style="height: 100vh;">
  <div class="mx-auto col-lg-3">
    <h2 class="text-center">Delete Post</h2>
    <form method="post">
      {% csrf_token %}
      <p class="text-center">Delete post?</p>
      <p class="form-buttons text-center">
        <input type="submit" class="btn btn-primary" value="Delete">
        <a href="{% url 'posts:posts' user.id %}" class="btn btn-outline">Cancel</a>
      </p>
    </form>
  </div>
</div>

{%endblock content%}